[submodule ".janus/vim-ipython"]
	path = .janus/vim-ipython
	url = git@github.com:ivanov/vim-ipython.git
[submodule "tmux_plugins/tmux-open"]
	path = tmux_plugins/tmux-open
	url = git@github.com:tmux-plugins/tmux-open.git
[submodule "tmux_plugins/tmux-copycat"]
	path = tmux_plugins/tmux-copycat
	url = git@github.com:tmux-plugins/tmux-copycat.git
