[user]
	name = Eyal Firstenberg
	email = eyal.firstenberg@lightcyber.com
[color]
	ui = true
[push]
	default = current
	followTags = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	st = status
	br = branch
	psh = !git push && jenkins build
	wip = !git commit -am \"wip\" && git psh
	rmbr = !git push origin :heads/${1} && git branch -D ${1}
[http]
[core]
	editor = vim
[branch]
	autosetuprebase = always
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
