[submodule ".vim"]
	path = .vim
	url = https://github.com/carlhuda/janus.git
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".janus/vim-tmux-navigator"]
	path = .janus/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".janus/slimux"]
	path = .janus/slimux
	url = git@github.com:epeli/slimux.git
